@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.car-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    /* Khoảng cách giữa các xe */
    margin: 0 auto;
    /* Canh giữa container */
    width: 80%;
    /* Độ rộng container */
    position: relative;
    margin-top: 125px;
}

.car {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    /* Đường viền của mỗi xe */
    border-radius: 10px;
    /* Bo góc đường viền */
    background-color: #f9f9f9;
    /* Màu nền của mỗi xe */
    margin-top: 40px;
}

.image-container img {
    max-width: 700px;
    /* Giới hạn kích thước hình ảnh */
    height: auto;
}

.info-container {
    flex: 1;
    /* Chiếm toàn bộ không gian còn lại */
    margin-left: 100px;
    /* Khoảng cách giữa hình ảnh và thông tin */
}

.info-container h2 {
    margin: 0;
    font-size: 3.5em;
    margin-bottom: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.info-container ul {
    list-style: none;
    /* Bỏ dấu chấm đầu dòng */
    padding: 0;
    margin-left: 50px;
}

.info-container ul li {
    margin-bottom: 20px;
    font-size: 20px;
}

.info-container h3 {
    font-size: 40px;
    text-align: right;
    margin-right: 80px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.info-container button {
    padding: 15px 100px;
    background-color: #1E90FF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 700;
    font-size: 20px;
}

button:hover {
    background-color: #0056b3;
}

html {
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
}

.nav-container {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-right: 30px;
    padding-left: 20px;
    height: 80px;
    color: white;
    background-color: #1E90FF;
    z-index: 1000;
}

.nav-container ul {
    display: flex;
    list-style: none;
    gap: 20px;
    font-size: 18px;
    margin-top: 18px;
}

.nav-container ul li {
    cursor: pointer;
    transition: 0.5s;
    padding: 3px 10px;
    border-radius: 5px;
}

.nav-container ul li:hover,
.nav-container .icons i:hover {
    background-color: rgba(246, 232, 232, 0.5);
}

.logo {
    width: 140px;
    height: 40px;
    cursor: pointer;
    filter: brightness(0) invert(1);
}

.nav-container .icons {
    display: flex;
    font-size: 35px;
    gap: 20px;
    cursor: pointer;
}

.nav-container .icons i {
    border-radius: 50%;
    padding: 3px;
    transition: 0.5s;
}

.pagination {
    text-align: center;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.pagination button {
    padding: 10px 20px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.pagination button:hover {
    background-color: #e3e3e3;
}

.pagination button.active {
    background-color: #1E90FF;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

body {
    min-height: 100vh;
    width: 100%;
    background: #EEECEB;
}

footer {
    display: block;
    position: static;
    background: #1E90FF;
    width: 100%;
    bottom: 0px;
    left: 0px;
}

footer .content {
    max-width: 1250px;
    margin: auto;
    padding: 30px 40px 40px 40px;
}

footer .content .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.content .top .logo-details {
    color: #fff;
    font-size: 30px;
}

.content .top .media-icons {
    display: flex;
}

.content .top .media-icons a {
    height: 40px;
    width: 40px;
    margin: 0 8px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 17px;
    text-decoration: none;
    transition: all 0.4s ease;
}

.top .media-icons a:nth-child(1) {
    background: #4267B2;
}

.top .media-icons a:nth-child(1):hover {
    color: #4267B2;
    background: #fff;
}

.top .media-icons a:nth-child(2) {
    background: #1DA1F2;
}

.top .media-icons a:nth-child(2):hover {
    color: #1DA1F2;
    background: #fff;
}

.top .media-icons a:nth-child(3) {
    background: #E1306C;
}

.top .media-icons a:nth-child(3):hover {
    color: #E1306C;
    background: #fff;
}

.top .media-icons a:nth-child(4) {
    background: #0077B5;
}

.top .media-icons a:nth-child(4):hover {
    color: #0077B5;
    background: #fff;
}

.top .media-icons a:nth-child(5) {
    background: #FF0000;
}

.top .media-icons a:nth-child(5):hover {
    color: #FF0000;
    background: #fff;
}

footer .content .link-boxes {
    width: 100%;
    display: flex;
}

footer .content .link-boxes .box {
    width: calc(100% / 5 - 10px);
}

footer .content .link-boxes .box1 {
    color: white;
    font-size: 18px;
}

.content .link-boxes .box .link_name {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
    position: relative;
}

.link-boxes .box .link_name::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 35px;
    background: #fff;
}

.content .link-boxes .box li {
    margin: 6px 0;
    list-style: none;
}

.content .link-boxes .box li a {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    opacity: 0.8;
    transition: all 0.4s ease
}

.content .link-boxes .box li a:hover {
    opacity: 1;
    text-decoration: underline;
}

footer .bottom-details {
    width: 100%;
    background: #005fec;
}

footer .bottom-details .bottom_text {
    max-width: 1250px;
    margin: auto;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
}

.bottom-details .bottom_text span,
.bottom-details .bottom_text a {
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    opacity: 0.8;
    text-decoration: none;
}

.bottom-details .bottom_text a:hover {
    opacity: 1;
    text-decoration: underline;
}

.bottom-details .bottom_text a {
    margin-right: 10px;
}

@media (max-width: 900px) {
    footer .content .link-boxes {
        flex-wrap: wrap;
    }
    footer .content .link-boxes .input-box {
        width: 40%;
        margin-top: 10px;
    }
}

@media (max-width: 700px) {
    footer {
        position: relative;
    }
    .content .top .logo-details {
        font-size: 26px;
    }
    .content .top .media-icons a {
        height: 35px;
        width: 35px;
        font-size: 14px;
        line-height: 35px;
    }
    footer .content .link-boxes .box {
        width: calc(100% / 3 - 10px);
    }
    footer .content .link-boxes .input-box {
        width: 60%;
    }
    .bottom-details .bottom_text span,
    .bottom-details .bottom_text a {
        font-size: 12px;
    }
}

@media (max-width: 520px) {
    footer::before {
        top: 145px;
    }
    footer .content .top {
        flex-direction: column;
    }
    .content .top .media-icons {
        margin-top: 16px;
    }
    footer .content .link-boxes .box {
        width: calc(100% / 2 - 10px);
    }
    footer .content .link-boxes .input-box {
        width: 100%;
    }
}

.logo-details img {
    height: 60px;
    width: 200px;
}

* {
    box-sizing: border-box;
}

.mySlides {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 80px auto;
}

img {
    vertical-align: middle;
}


/* Ẩn các hình ảnh theo mặc định */

.mySlides {
    display: none;
}


/* Style cho các nút "Previous" và "Next" */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 40px;
    /* Đặt kích thước */
    height: 40px;
    /* Đặt kích thước */
    padding: 8px;
    margin-top: -22px;
    color: rgba(115, 107, 107, 0.781);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 50%;
    user-select: none;
    text-align: center;
    /* Canh giữa nội dung */
    line-height: 24px;
    /* Canh giữa nội dung */
    text-decoration: none;
    /* Loại bỏ đường gạch dưới */
    background-color: #F0EBE3;
}


/* Vị trí nút "Previous" ở bên trái */

.prev {
    left: 0;
}


/* Vị trí nút "Next" ở bên phải */

.next {
    right: 0;
}


/* Hiệu ứng chuyển màu nút khi di chuột */

.prev:hover,
.next:hover {
    background-color: rgba(215, 215, 215, 0.9);
    text-decoration: none;
    color: #0F0844;
}


/* Style cho các nút chấm tròn */

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    position: absolute;
    /* Đặt vị trí tuyệt đối */
    bottom: 10px;
    /* Điều chỉnh vị trí dưới cùng */
}


/* Chấm tròn được chọn */

.active,
.dot:hover {
    background-color: #717171;
}


/* Đặt vị trí của các chấm tròn */

.dot:nth-child(1) {
    left: calc(50% - 30px);
    /* Đặt vị trí ngang so với giữa container */
    bottom: 10px;
    /* Điều chỉnh vị trí dưới cùng */
}

.dot:nth-child(2) {
    left: 50%;
    /* Đặt vị trí ngang so với giữa container */
    bottom: 10px;
    /* Điều chỉnh vị trí dưới cùng */
}

.dot:nth-child(3) {
    left: calc(50% + 30px);
    /* Đặt vị trí ngang so với giữa container */
    bottom: 10px;
    /* Điều chỉnh vị trí dưới cùng */
}

.nav-container a {
    color: inherit; /* Hoặc bạn có thể đặt màu cụ thể, ví dụ: #000 */
    text-decoration: none; /* Nếu bạn muốn loại bỏ gạch chân */
  }
  
  /* Đảm bảo rằng liên kết đã truy cập có cùng màu */
  .nav-container a:visited {
    color: inherit; /* Giữ nguyên màu hoặc đặt màu cụ thể */
  }